.addnewapplication {
  padding: 25px 5%;
  &__cloud {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    button {
      span {
        word-break: break-all;
        white-space: break-spaces;
        width: 65px;
      }
    }
    &__item {
      border-radius: 4px;
      padding: 20px;
      background-color: $blue;
      cursor: pointer;
    }
  }
  &__remote {
    width: 30%;
  }
  &__remotefiles {
    //height: 320px;
    border-top: 1px solid $shadowed-steel;
    border-bottom: 1px solid $shadowed-steel;
    // overflow-y: auto;
    &-file {
      height: 30px;
      user-select: none;
      &:nth-child(odd) {
        background-color: $froasted-glass;
      }
    }
  }
  &__remotefiles_scroll {
    height: 320px;
    overflow-y: auto;
  }
}
.invalid-sequences-table {
  .ant-table {
    border: 1px solid #e8e8e8;
  }
  .ant-table-body {
    overflow-y: auto !important;
  }

  .ant-table-thead > tr > th:first-child,
  .ant-table-tbody > tr > td:first-child {
    width: 40%;
  }
  .ant-table-thead > tr > th:nth-child(2),
  .ant-table-tbody > tr > td:nth-child(2) {
    width: 60%;
  }
}
.refresh {
  display: inline-block;
  float: right;
  cursor: pointer;
  &.afs {
    margin-top: -22px;
  }
  &.non-afs {
    margin-top: -3px;
  }
}
.omni-info-modal {
  .ant-modal-confirm-body .ant-modal-confirm-content {
    font-size: 13px;
    font-weight: 600;
    margin-top: 0px !important;
  }
  .ant-btn-primary {
    font-size: 12px;
  }
}
