.authenticationCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-errorbox {
    border-color: $red !important;
  }
  &-fieldError {
    @include text-normal;
    margin-bottom: 15px;
    color: $red;
  }
  &-send {
    @include text-normal;
    color: $sky-of-margritte;
    cursor: pointer;
  }
  &-login-disable {
    background: lighten($black, 75%) !important;
    border-width: 0px !important;
  }
  &-login-enable {
    background: $blue !important;
    border-width: 0px;
  }
  &-form {
    margin-bottom: 0px !important;
    &-input {
      padding-right: 40px !important;
    }
    &__icons {
      position: absolute;
      right: 5px;
      top: -10px;
      &-tick {
        color: $caribbean-green;
      }
    }
  }
  &-verify {
    display: block;
    text-align: right;
    @include text-normal;
    color: $caribbean-green;
  }
}
