.customer-accounts {
  border: 1px solid $spanish-grey;
  max-height: 330px;
  overflow-y: auto;
  padding: 12px;
  border-radius: 4px;
  span.ant-radio + * {
    padding-right: 15px !important;
    padding-left: 15px !important;
    word-break: break-all;
    white-space: normal;
    display: inline-flex;
    font-weight: bold;
    color: $black;
  }
}
.select-customer {
  margin-top: 50px;
  color: $clear-chill;
  text-align: center;
  font-weight: bold;
}
