.maindashboard {
  &-breadcrum {
    @include text-normal(14px);
    color: $sky-of-margritte;
    cursor: pointer;
  }
  &-licenses {
    border-bottom: 2px solid $sky-of-margritte;
  }
  &-licenses-number {
    color: $sky-of-margritte !important;
  }
  &-assignpermissions {
    display: inline-flex !important;
    height: 40px;
    margin-top: -4px;
    > .omniButton-add-text {
      @include text-bold(16px);
      color: $white !important;
    }
    &_visible {
      display: initial;
    }
    &_hidden {
      display: none !important;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__section {
      width: 78%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    &__addEdit {
      @include text-bold-active;
      cursor: pointer;
      display: inline;
      border: solid 1px $sky-of-margritte;
      padding: 4px 25px;
      border-radius: 4px;
      border-color: $sky-of-margritte;
      color: $sky-of-margritte;
    }
    &-customers {
      @include text-bold-active(24px);
      margin-right: 15px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  &__list {
    margin-top: 10px;
    &__item {
      cursor: pointer;
      padding: 15px 10px;
      &:nth-child(odd) {
        background-color: $froasted-glass;
      }
      &-dropdown {
        &-menu {
          padding: 0px !important;
          &-item {
            border-bottom: 0.2px solid;
            &-manageApps{
              position: relative;
              left: -3px;
              margin-right: 3px !important;
            }
            &-refresh{
              border-bottom: 0;
              > p {
                @include text-regular;
                > img {
                  margin-right: 8px;
                }
              }
            }
            &-welcomeMail {
              opacity: 0.6;
              position: relative;
              left: -5px;
              margin-right: 4px !important;
            }
            > p {
              @include text-regular;
              > img {
                margin-right: 8px;
              }
            }
          }
        }
      }
      &-text {
        @include text-normal(14px);
        padding-left: 4px;
        word-break: break-word;
        &-bold {
          @include text-bold-active(14px);
        }
        &-active {
          color: $caribbean-green;
        }
        &-inactive {
          color: $coral-red;
        }
        &-link {
          color: $blue;
        }
      }
      &__row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__nodata {
    @include text-bold-active(16px);
    padding-top: 10%;
    &-icon {
      margin-right: 10px;
    }
  }
  &-filter {
    margin-left: 16px;
    border-radius: 4px;
  }
  &-filter-text {
    @include text-normal-inactive(16px);
    margin-left: 16px;
    align-self: center;
  }
}
//failure reports draggable modal css
.failureResults {
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    &-close {
      font-size: 18px;
      color: $black;
      cursor: pointer;
    }
  }
  &__list {
    &.no-crossrefs {
      height: 95%;
      border: none;
    }
    &.crossrefs {
      height: 65%;
      border: 1px solid $shadowed-steel;
    }
    padding: 10px;
    &__table {
      height: calc(100% - 100px);
      border: 1px solid $shadowed-steel;
      // border-radius: 4px;
      // margin-top: 10px;

      &__header {
        width: 100%;
      }

      &__body {
        table {
          width: 100%;
        }
        height: 100%;
        overflow: auto;
        thead > tr {
          background: $froasted-glass;
        }
        tbody {
          overflow: auto;
          width: 100%;
        }
        tbody > tr:last-child {
          border-bottom: none;
        }
      }
    }
    &__footer {
      //position: absolute;
      bottom: 5px;
      width: 100%;
      position: relative;
      top: 18px;
    }
  }
  &__info-list {
    border: 1px solid $shadowed-steel;
    padding: 10px;
    margin: 10px 0;
  }
}

// .failureResults__table .ant-table-scroll {
//   height: 240px; // Same as your scroll.y value
// }

// .deleteSequencesModal {
//   .ant-modal-confirm-body .ant-modal-confirm-content {
//     margin-top: 0;
//   }
//   .ant-modal-confirm .ant-modal-confirm-btns .ant-btn {
//     width: 75px;
//   }
// }
