.maindashboard {
  &-breadcrum {
    @include text-normal(14px);
    color: $sky-of-margritte;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__addEdit {
      @include text-bold-active;
      cursor: pointer;
      display: inline;
      border: solid 1px $sky-of-margritte;
      padding: 4px 25px;
      border-radius: 4px;
      border-color: $sky-of-margritte;
      color: $sky-of-margritte;
    }
    &-customers {
      @include text-bold-active(24px);
      margin-right: 15px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }
  &__list {
    margin-top: 24px;
    &__item {
      cursor: pointer;
      padding: 15px 10px;
      &:nth-child(odd) {
        background-color: $froasted-glass;
      }
      &-text {
        @include text-normal(14px);
        padding-left: 4px;
        &-bold {
          @include text-bold-active(14px);
        }
      }
      &__row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__nodata {
    @include text-bold-active(16px);
    padding-top: 10%;
    &-icon {
      margin-right: 10px;
    }
  }
  &-filter {
    margin-left: 16px;
    border-radius: 4px;
  }
  &-filter-text {
    @include text-normal-inactive(16px);
    margin-left: 16px;
    align-self: center;
  }
}
