.properties_table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  padding: 10px 0px;

  .label {
    @include text-normal(14px);
    color: rgba($black, 0.5);
    width: 120px;
  }

  .value {
    @include text-normal(14px);
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
  }

  .link {
      color: $sky-of-margritte;
      cursor: pointer;
  }
}
