.properties {
  &__table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
    padding: 10px 0px;

    .section-title {
      @include text-bold-active(14px);
      margin: 20px 5px 10px 5px;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $ash-blue;
      }
    }

    .label {
      @include text-normal(12px);
      color: rgba($black, 0.5);
      width: 40%;
    }

    .value {
      width: 65%;
      @include text-normal(12px);
      word-break: break-all;
    }

    .link {
      color: $sky-of-margritte;
      cursor: pointer;
    }
  }
  &__ash-blue {
    background: $ash-blue;
  }
  &-life-cycle-title {
    @include text-bold-active(14px);
    display: block;
    border-top: solid 1px $ash-blue;
    padding: 6px 12px;
    margin-top: 20px;
  }
  &__life-cycle-table {
    overflow-x: auto;
    > table {
      width: 100%;
      border-bottom: solid 1px $ash-blue;
      thead > tr {
        background: $rockman-blue;
        border-top: solid 1px $ash-blue;
        border-bottom: solid 1px $ash-blue;
        > th {
          @include text-normal(12px);
          opacity: 0.5;
          padding: 6px 12px;
          border-right: solid 1px $ash-blue;
        }
      }
      tbody > tr > td {
        @include text-normal(12px);
        border-right: solid 1px $ash-blue;
        padding: 6px 12px;
        opacity: 0.5;
      }
    }
    &-link {
      color: $sky-of-margritte !important;
      opacity: 1 !important;
    }
    &-text {
      min-width: 150px;
      word-break: break-word;
    }
  }
}
