.popoverCustomers {
  height: 200px;
  width: 150px;
  overflow-y: auto;
  &-text {
    cursor: pointer;
    word-break: break-all;
    &:first-child {
      border-bottom: solid 1px $ash-blue;
    }
    &:hover {
      color: $blue;
    }
    &-selected {
      color: $blue;
    }
  }
}
