.resetpassword {
  padding: 40px 25% 40px 10%;
  &-field {
    width: 50%;
    margin-bottom: 10px;
  }
  &__buttons {
    margin-top: 50px;
    &-btn {
      min-height: 30px;
      padding: 0 40px !important;
    }
  }
}
