.submissionview {
  height: 100%;
  &__profilebar {
    display: flex;
    justify-content: space-between;
    padding: 2px 4px 0px;

    &__title {
      @include text-normal(14px);
    }

    &__section {
      display: flex;
      align-items: center;
      cursor: pointer;

      &-username {
        margin: 0px 5px;
        @include text-normal(12px);
      }

      .text {
        @include text-normal;
        margin-left: 8px;
      }
    }
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 0.3px;
    padding: 0px 5px 5px;

    .icon_text_border {
      display: flex;
      align-items: center;
      padding: 5px;
      border: solid 0.5px $sky-of-margritte;
      border-radius: 4px;

      .text {
        @include text-bold-active;
        margin-left: 8px;
      }
    }

    &__mode {
      display: flex;
      align-items: flex-end;
      // padding: 5px;

      .mode-text {
        @include text-bold-inactive;
      }
      &__tabs {
        @extend tabs;
      }
    }

    &__view {
      display: flex;
      align-items: flex-end;
      // padding: 5px;

      .view-text {
        @include text-bold-inactive;
      }
      &__tabs {
        @extend tabs;
      }
    }

    &__validate {
      margin-left: 10px;
    }
  }
  &__panels {
    display: flex;
    // height: 100%;
    overflow-x: hidden;
    .panel {
      background-color: $froasted-glass;
      height: 100%;
      &-sequences {
        border-right: solid 0.2px;
        &__users {
          padding: 10px;
          display: flex;
          align-items: center;
          height: 33px;
          justify-content: space-between;
          box-shadow: inset 0 1px 0 0 $shadowed-steel,
            inset 0 -1px 0 0 $shadowed-steel;
          background-color: $shadowed-steel;
        }
      }
      &-properties {
        border-left: solid 0.2px;
        overflow: auto;
      }
    }
    .panels__tree {
      &__structure {
        overflow-y: auto;
        overflow-x: hidden;
        height: 90%;
        width: 100%;
      }
      &__editblock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        padding: 0px 10px;
        background-color: $broken-blue;
        &-text {
          color: $grams-hair;
        }
      }
      &__permissions {
        display: flex;
        justify-content: space-between;
        height: 48px;
        padding: 0px 10px;
        border-bottom: 0.2px solid;
      }
    }
  }
  &__siders {
    display: flex;
    background-color: $froasted-glass;
    border-bottom: solid 0.2px;
    padding: 2px;

    &__sequence {
      width: 20%;
      @include text-bold-active(14px);
    }
    &__tree {
      width: 50%;
    }
    &__properties {
      width: 30%;
      @include text-bold-active(14px);
    }
  }
}
tabs {
  margin-left: 10px;

  .ant-tabs {
    overflow: visible;
  }

  .ant-tabs-bar {
    margin-bottom: -5px;
    border-bottom: 0px;
  }
  .ant-tabs-tab {
    height: auto !important;
    @include text-bold-inactive;
    font-weight: normal;
  }

  .ant-tabs-tab-active {
    @include text-bold-active;
  }
}

.icon-label {
  @include text-bold-active;
  margin-left: 8px;
  font-weight: normal;
  align-self: center;
}

.align-right {
  text-align: right;
}
