.upload-customers-modal {
  height: 100%;
  padding: 0 14px 14px 14px;
  &__header {
    display: flex;
    cursor: move;
    &-close {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: auto;
    }
  }
  &__upload {
    > .ant-upload-drag {
      margin: 30px 0;
      height: 80px !important;
    }
    &-inner {
      &-image {
        margin-right: 12px;
      }
      &-drag {
        @include text-regular(14px);
      }
      &-choose {
        @include text-regular(14px);
        color: $blue;
      }
    }
  }
}
