.validationResults {
  height: 100%;
  &__dialog > .ant-modal {
    width: 75% !important;
    height: 75% !important;
    .ant-modal-content {
      height: 100% !important;
    }
    .ant-modal-body {
      height: 100%;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    &-close {
      font-size: 18px;
      color: $black;
      cursor: pointer;
    }

    &__title {
      &-text {
        @include text-normal(16px);
      }
    }
  }
  &__table {
    height: calc(100% - 65px);
    border: 1px solid $shadowed-steel;
    border-radius: 4px;
    margin-top: 10px;
    table {
      width: 100%;
    }
    &__header {
      width: 100%;
    }
    &__body {
      height: 100%;
      overflow: auto;
      > table > tbody {
        overflow: auto;
        width: 100%;
      }
      &__find {
        height: 30px;
        display: flex;
        align-items: center;
        background-color: $froasted-glass;
        border-bottom: solid 1px $ash-blue;
        &__header {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-right: solid 1px $ash-blue;
          padding: 2px 8px;
        }
        &__results {
          height: calc(100% - 30px);
          overflow: auto;
        }
        &__result {
          min-height: 35px;
          &:nth-child(even) {
            background-color: $froasted-glass;
          }
        }
      }
    }
    .col {
      &-node {
        width: 35%;
        &-icon {
          float: right;
          width: 16px;
          height: 16px;
        }
      }
      &-error {
        width: 10%;
      }
      &-severity {
        width: 15%;
      }
      &-description {
        width: 40%;
      }
    }
    &-col {
      height: 35px;
      padding-left: 13px;
      @include text-bold-active(14px);
    }

    td {
      height: 35px;
      padding-left: 13px;
      @include text-normal(14px);
    }

    thead > tr {
      background: $froasted-glass;
      th {
        border-right: 1px solid $shadowed-steel;
      }
      th:last-child {
        border: 0px;
      }
    }
    tr:nth-child(even) {
      background-color: $froasted-glass;
    }
  }
  &__footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-right: 20px;
    &__viewreport {
      @include text-bold-active;
      cursor: pointer;
      border: solid 1px $sky-of-margritte;
      padding: 4px 25px;
      border-radius: 4px;
      border-color: $sky-of-margritte;
      color: $sky-of-margritte;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-find {
    > .ant-input-suffix {
      right: 0px !important;
    }
    > input {
      padding-left: 20px !important
    }
  }
}
