$blue: #42a5f5;
$black: #000;
$white: #fff;
$baise-white: #f2f2f2;
$froasted-glass: #eceff1;
$rockman-blue: rgba(66, 165, 245, 0.25);
$sky-of-margritte: #00a0ff;
$softsun: #f5c842;
$spanish-grey: #979797;
$shadowed-steel: rgba(74, 74, 74, 0.25);
$blue-gradient: linear-gradient(to bottom, #5aa3cd 1%, $white 100%);
$caribbean-green: #00d592;