$blue: #42a5f5;
$blue-atoll: #00aed6;
$clear-chill: #2a95ec;
$norfolk-sky: #4fb0ff;
$ash-blue: #bfc4c7;
$rockman-blue: rgba(66, 165, 245, 0.25);
$broken-blue: #6eb9f7;
$black: #000;
$white: #fff;
$red: #ff0000;
$coral-red: #f54242;
$baise-white: #f2f2f2;
$froasted-glass: #eceff1;
$sky-of-margritte: #00a0ff;
$softsun: #f5c842;
$spanish-grey: #979797;
$shadowed-steel: rgba(74, 74, 74, 0.25);
$shadowed-steel-dark: #4a4a4a;
$blue-gradient: linear-gradient(to bottom, #5aa3cd 1%, $white 100%);
$caribbean-green: #00d592;
$grams-hair: #f5f7f8;
$platinum-granite: #7f7f7f;
