@mixin text-regular($fontSize: 12px) {
  font-family: Heebo-Regular;
  font-weight: normal;
  font-size: $fontSize;
  color: $black;
}

@mixin text-medium($fontSize: 12px) {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: $fontSize;
  color: $black;
}

@mixin text-bold($fontSize: 14px) {
  font-family: Heebo-Bold;
  font-weight: bold;
  font-size: $fontSize;
  color: $black;
}

@mixin text-extra-bold($fontSize: 36px) {
  font-family: Heebo-ExtraBold;
  font-weight: 800;
  font-size: $fontSize;
  color: $black;
}

@mixin text-medium($fontSize: 12px) {
  font-family: Heebo-Medium;
  font-weight: 500;
  font-size: $fontSize;
  color: $black;
}

@mixin text-bold-active($fontSize: 12px) {
  font-family: Heebo-Bold;
  font-weight: 800;
  font-size: $fontSize;
  color: $black;
}
@mixin text-bold-inactive($fontSize: 12px) {
  @include text-bold-active;
  color: rgba($black, 0.5);
  font-size: $fontSize;
}
@mixin text-meduim-bold-active($fontSize: 12px) {
  @include text-bold-active;
  font-family: Heebo-Medium;
  font-size: $fontSize;
}
@mixin text-meduim-bold-inactive($fontSize: 12px) {
  @include text-meduim-bold-active;
  color: rgba($black, 0.5);
  font-size: $fontSize;
}

@mixin text-normal($fontSize: 12px) {
  @include text-bold-active;
  font-family: Heebo-Regular;
  font-weight: normal;
  font-size: $fontSize;
}

@mixin text-normal-inactive($fontSize: 12px) {
  @include text-bold-inactive;
  font-family: Heebo-Regular;
  font-weight: normal;
  font-size: $fontSize;
}

@font-face {
  font-family: "Heebo-Black";
  src: url("/fonts/Heebo-Black.ttf");
}
@font-face {
  font-family: "Heebo-Bold";
  src: url("/fonts/Heebo-Bold.ttf");
}
@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("/fonts/Heebo-ExtraBold.ttf");
}
@font-face {
  font-family: "Heebo-Light";
  src: url("/fonts/Heebo-Light.ttf");
}
@font-face {
  font-family: "Heebo-Medium";
  src: url("/fonts/Heebo-Medium.ttf");
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("/fonts/Heebo-Regular.ttf");
}
@font-face {
  font-family: "Heebo-Thin";
  src: url("/fonts/Heebo-Thin.ttf");
}
body {
  font-family: "Heebo-Regular" !important;
}
