@mixin text-regular($fontSize: 12px) {
  font-family: Heebo-Regular, sans-serif;
  font-weight: normal;
  font-size: $fontSize;
  color: $black;
}

@mixin text-medium($fontSize: 12px) {
  font-family: Heebo-Medium, sans-serif;
  font-weight: 500;
  font-size: $fontSize;
  color: $black;
}

@mixin text-bold($fontSize: 14px) {
  font-family: Heebo-Bold, sans-serif;
  font-weight: bold;
  font-size: $fontSize;
  color: $black;
}

@mixin text-extra-bold($fontSize: 36px) {
  font-family: Heebo-ExtraBold, sans-serif;
  font-weight: 800;
  font-size: $fontSize;
  color: $black;
}

@mixin text-medium($fontSize: 12px) {
  font-family: Heebo-Medium, sans-serif;
  font-weight: 500;
  font-size: $fontSize;
  color: $black;
}

@mixin text-bold-active($fontSize: 12px) {
  font-family: Heebo-Bold, sans-serif;
  font-weight: 800;
  font-size: $fontSize;
  color: $black;
}
@mixin text-bold-inactive($fontSize: 12px) {
  @include text-bold-active;
  color: rgba($black, 0.5);
  font-size: $fontSize;
}
@mixin text-meduim-bold-active($fontSize: 12px) {
  @include text-bold-active;
  font-family: Heebo-Medium, sans-serif;
  font-size: $fontSize;
}
@mixin text-meduim-bold-inactive($fontSize: 12px) {
  @include text-meduim-bold-active;
  color: rgba($black, 0.5);
  font-size: $fontSize;
}

@mixin text-normal($fontSize: 12px) {
  @include text-bold-active;
  font-family: Heebo-Regular, sans-serif;
  font-weight: normal;
  font-size: $fontSize;
}

@mixin text-normal-inactive($fontSize: 12px) {
  @include text-bold-inactive;
  font-family: Heebo-Regular, sans-serif;
  font-weight: normal;
  font-size: $fontSize;
}

@font-face {
  font-family: "Heebo-Black";
  src: url("/fonts/Heebo-Black.ttf");
}
@font-face {
  font-family: "Heebo-Bold";
  src: url("/fonts/Heebo-Bold.ttf");
}
@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("/fonts/Heebo-ExtraBold.ttf");
}
@font-face {
  font-family: "Heebo-Light";
  src: url("/fonts/Heebo-Light.ttf");
}
@font-face {
  font-family: "Heebo-Medium";
  src: url("/fonts/Heebo-Medium.ttf");
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("/fonts/Heebo-Regular.ttf");
}
@font-face {
  font-family: "Heebo-Thin";
  src: url("/fonts/Heebo-Thin.ttf");
}
html{
  overflow: hidden;
}
body {
  overflow: auto;
  font-family: "Heebo-Regular", sans-serif !important;
}

@mixin tabs {
  margin-left: 10px;

  .ant-tabs {
    overflow: visible;
  }

  .ant-tabs-bar {
    margin-bottom: -5px;
    border-bottom: 0px;
  }
  .ant-tabs-tab {
    height: auto !important;
    @include text-bold-inactive;
    font-weight: normal;
  }

  .ant-tabs-tab-active {
    @include text-bold-active;
  }
}
