@mixin text-bold-active($fontSize: 12px) {
  // margin-left: 8px;
  font-weight: 800;
  font-size: $fontSize;
  color: $black;
}
@mixin text-bold-inactive($fontSize: 12px) {
  @include text-bold-active;
  color: rgba($black, 0.5);
  font-size: $fontSize;
}

@mixin text-normal($fontSize: 12px) {
  @include text-bold-active;
  font-weight: normal;
  font-size: $fontSize;
}

@mixin text-normal-inactive($fontSize: 12px) {
  @include text-bold-inactive;
  font-weight: normal;
  font-size: $fontSize;
}

body {
  font-family: "Heebo !important";
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/heebo_regular.ttf") format("truetype");
}
